<form method="post" action="{{ path('comment_delete', {'id': comment.id}) }}"
      onsubmit="return confirm('Voulez-vous supprimer ce commentaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('comment' ~ comment.id) }}">
    <button class="btn btn-danger">{{ 'Supprimer le commentaire'|trans }}</button>
</form>
