{% extends "layoutEmail.html.twig" %}
{% block title %}
{% endblock  %}
{% block body %}
    <h1>New episode {{ episode.title }} created</h1>
    <p>Hello, the episode {{ episode.title }} of has been created</p>
    <p>summary : {{ episode.synopsis }}</p>
{% endblock  %}