{% extends "layoutEmail.html.twig" %} {% block title %} {{ parent() }} program {%
endblock %} {% block body %}
    <h1>
        {% trans with { 'program_title': program.title } %}
            program_mail_object
        {% endtrans %}
    </h1>
    <p>
        {% trans with { 'program_title': program.title } %}
            hello_new_program
        {% endtrans %}
    </p>
    <p>
        {% trans with { 'program_synopsis': program.synopsis } %}
            new_program_synopsis
        {% endtrans %}
    </p>
{% endblock %}
