{% include "base.html.twig" %}
{% block title %}
{% endblock  %}

{% block body %}
  
    <h1 class="text-light">{{ season.description }} de <span class="fst-italic">{{ program.title }}</span> </h1>
    <h2 class="text-light">Liste des épisodes</h2>
    {% for episode in episodes %}
    <ol class="list-group list-group-numbered">       
       <li class="list-group-numbered text-light">
           {{ episode.title }}
       </li>        
    </ol>
    {% endfor %} 
{% endblock  %}